body {
    background-color: white;

}

.page-header {
  color: #fff;
  text-align: center;
  font-family: Verdana, Arial;
  background-color: #159957;
  background-image: linear-gradient(0deg, #6599FF, #155799); 
}

.project-name {
  margin-top: 0px;
  margin-bottom: 0.1rem; 
  font-size: 40px;
  padding-top: 40px;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; 
  padding-bottom: 40px;
}

a {
    font-family: Verdana, Arial;
    text-decoration: none;
}

a:link {
    color: #6599FF;
}

/* visited link */
a:visited {
    color: #6599FF;
}

/* mouse over link */
a:hover {
    color: #155799;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
}
